html {
    /* for the sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    /* for the sticky footer */
    margin-bottom: 40px;
}

.dotted-gray {
    background-image: url("../media/gray.jpg");
    background-repeat: repeat;
}

.social-icon {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;

    width: 24px;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* should be the same as the body margin above */
    height: 40px;
}

.shadow {
    transition: filter 0.1s ease-in-out;
    filter: brightness(80%);
  }

.shadow:hover{
    filter: brightness(100%);
}