.profile {
    max-height: 200px;
    max-width: 200px;
}

.section {
    padding: 48px 0;
}

.tech-icon {
    max-height: 96px;
    object-fit: contain;
}

.tech-icon-wrapper {
    width: 100px;
    text-align: center;
}

.social-icon {
    max-width: 24px;
}

.shadow-hover {
    transition: filter 0.1s ease-in-out;
    filter: brightness(100%);
}

.shadow-hover:hover {
    filter: brightness(80%);
}
