name: Validate and Deploy

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: npm install
      - run: npm run check
      - run: npm run test

  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == 'master' }}
    needs: [validate]

    steps:
      - uses: actions/checkout@v5
      - name: Update sitemap.xml
        run: "BASE_URL=chadi.io LAST_MOD=$(date +%F) envsubst < sitemap.xml.template > website/sitemap.xml"
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Copy to S3
        run: "aws s3 sync website/. s3://chadi.io --delete"
      - name: Update CloudFront Function
        env:
          FUNCTION_NAME: additional-headers
        run: |
          # Get the function ETag
          ETAG=$(aws cloudfront describe-function --name $FUNCTION_NAME --query 'ETag' --output text)

          # Update the function code
          aws cloudfront update-function \
            --name $FUNCTION_NAME \
            --function-config Comment="Additional headers for chadi.io",Runtime="cloudfront-js-2.0" \
            --function-code fileb://.aws/additional-headers.js \
            --if-match $ETAG

          # Publish the function
          NEW_ETAG=$(aws cloudfront describe-function --name $FUNCTION_NAME --query 'ETag' --output text)
          aws cloudfront publish-function --name $FUNCTION_NAME --if-match $NEW_ETAG
      - name: Invalidate CloudFront distribution
        env:
          DISTRIBUTION_ID: ${{ secrets.AWS_CF_DISTRIBUTION_ID }}
        run: "aws cloudfront create-invalidation --distribution-id $DISTRIBUTION_ID --paths '/*'"
